<div class="row" style="margin-bottom: 8px;">
  <div class="container text-right">
    <%= link_to "Add New Project", admin_new_path, class: 'btn btn-primary' %>
  </div>
</div>


<ol class="projects">
  <%= render @projects %>
</ol>
