<div class="row project-row">
  <div class="col-md-4">
    <%= image_tag val.projImage.url, class: "img-responsive img-rounded project-img" %>
  </div>
  <div class="col-md-8">
    <h3><%= val.title %></h3>
    <p><%= val.description %></p>
  </div>
</div>
