<div class="row project-row">
  <div class="col-sm-12 col-md-4 col-md-push-8">
    <%= image_tag val.projImage.url(:square), class: "img-responsive img-rounded project-img" %>
  </div>
  <div class="col-sm-12 col-md-8 col-md-pull-4">
    <h3 class="text-center"><%= val.title %></h3>
    <p><%= val.description %></p>
  </div>
</div>
