<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" id="project-type-div">
      <ul style="display: inline-block;" class="nav nav-pills text-center movie-sel-ul" id="project-type-ul">
        <li class="<%= 'active' if params[:type] == '2' %>"><a href="/">All</a></li>
        <li class="<%= 'active' if params[:type] == '0' %>"><a href="/ios/0" class="iosPill">iOS</a></li>
        <li class="<%= 'active' if params[:type] == '1' %>"><a href="/web/1" class="webPill">Web</a></li>
      </ul>
    </div>
  </div>
</div>
