// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#project-type-ul {
  li {
    display: inline-block;;
  }
}

.navbar {
  margin-bottom: 8px;
}

#project-type-div {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 8px;
}
