// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #eaeaea;
$swift: #FC9D3C;
$ruby: #CC0000;


/* projects */

.projects {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $light-grey;
  }
  .description {
    display: block;
  }
}

.button-spacing {
  margin: 0 8px 8px 0;
}

/* debugging box */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#project-type-ul {
  li {
    display: inline-block;;
  }
}

.navbar {
  margin-bottom: 8px;
}

#project-type-div {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 8px;
  padding-top: 8px;
}

.project-img {
  border: 2px solid $light-grey;
}

.project-row {
  padding: 16px;
  border-bottom: 1px solid $light-grey;
}

.footer {
  margin: 24px;
  color: #807E81;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

h3, h2 {
  font-family: 'Oxygen', sans-serif;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

//*** Login Page ***//

label {
  margin-bottom: 8px;
}

.form-control {
  margin-bottom: 8px;
}

.rbs {
  list-style: none;
  padding: 0;
}

.field {
  margin-bottom: 8px;
}

/* EMAIL STUFF */
input, textarea {display: block;}

// *** TAB PILLS *** //

.nav-pills {
  li {
    a {
      transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
    }
  }
  li.active {
    .iosPill {
      background-color: $swift;
      &:hover {
        background-color: $swift;
      }
    }
    .webPill {
      background-color: $ruby;
      &:hover {
        background-color: $ruby
      }
    }
  }
}

