// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #eaeaea;

/* projects */

.projects {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $light-grey;
  }
  .description {
    display: block;
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#project-type-ul {
  li {
    display: inline-block;;
  }
}

.navbar {
  margin-bottom: 8px;
}

#project-type-div {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 8px;
  padding-top: 8px;
}

.project-img {
  border: 2px solid $light-grey;
}

.project-row {
  padding: 16px;
  border-bottom: 1px solid $light-grey;
}

.footer {
  margin: 16px;
  color: #807E81;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

h3 {
  font-family: 'Oxygen', sans-serif;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

//*** Login Page ***//

label {
  margin-bottom: 8px;
}

.form-control {
  margin-bottom: 8px;
}

.rbs {
  list-style: none;
  padding: 0;
}

.field {
  margin-bottom: 8px;
}

