<header>
  <nav class="navbar navbar-default">
    <div class="container">
       <a class="navbar-brand" href="#"> Qn Projects </a>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="#">Blog</a></li>
           <li><a href="#">Hire Me</a></li>
         </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" id="project-type-div">
        <ul style="display: inline-block;" class="nav text-center movie-sel-ul" id="project-type-ul">
          <li><a href="#">All</a></li>
          <li><a href="#">iOS</a></li>
          <li><a  href="#">Web</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
