<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" id="project-type-div">
      <ul style="display: inline-block;" class="nav nav-pills text-center movie-sel-ul" id="project-type-ul">
        <li class="<%= 'active' if params[:type] == 'all' %>"><a href="/">All</a></li>
        <li class="<%= 'active' if params[:type] == 'ios' %>"><a href="/ios">iOS</a></li>
        <li class="<%= 'active' if params[:type] == 'web' %>"><a href="/web">Web</a></li>
      </ul>
    </div>
  </div>
</div>
